body {
    margin: 0;
    overflow: hidden;
    background: transparent; /* Чтобы в OBS был прозрачный фон */
    font-family: sans-serif;
}

#video-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 400px;  /* Размер окошка */
    height: 225px;
    border: 3px solid #6441a5; /* Цвет Twitch */
    border-radius: 8px;
    overflow: hidden;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#video-info {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    width: 100%;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}